global:
  scrape_interval: 20s
  scrape_timeout: 10s
  evaluation_interval: 15s
alerting:
  alertmanagers:
  - static_configs:
    - targets: []
    scheme: http
    timeout: 10s
    api_version: v1
scrape_configs:
- job_name: prometheus
  honor_timestamps: true
  scrape_interval: 15s
  scrape_timeout: 10s
  metrics_path: /metrics
  scheme: http
  static_configs:
  - targets:
    - localhost:9090


- job_name: 'kafka'
  static_configs:
    - targets: ['kafka:7071']

#- job_name: postgres-exporter
#  static_configs:
#    - targets: ["postgres-exporter:9187"]

- job_name: 'hiveserver2'
  static_configs:
    - targets: ['hiveserver2:7071']

- job_name: 'metastore'
  static_configs:
    - targets: ['metastore:7071']

- job_name: 'wis2bridge'
  static_configs:
    - targets: ['wis2bridge:8002']

- job_name: 'notification-dedup'
  static_configs:
    - targets: ['notification-dedup:8002']

- job_name: 'content-processor'
  static_configs:
    - targets: ['content-processor:8002']

- job_name: 'decoding-processor'
  static_configs:
    - targets: ['decoding-processor:8002']

- job_name: 'output-processor'
  static_configs:
    - targets: ['output-processor:8002']
